<% layout('layout/main') %>
<div class="login-bg">
  <div class="login-card">
    <body class="login">
    <img src="/assets/Plataforma/Gemini_Generated_Image_8esyig8esyig8esy-removebg-preview.png" alt="Logo RX" class="rx-logo">
    <h2>Faça seu login</h2>
    <a href="/auth/google" class="google-btn">
      <span class="icon-user"></span> Entrar com o Google
    </a>
  </div>
</div>