<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>RX</title>
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Lora:700&display=swap" rel="stylesheet">
</head>
<body>
  <% if (typeof hideNavFooter === 'undefined' || !hideNavFooter) { %>
    <%- include('../components/header', { user: user }) %>
  <% } %>
  <main>
    <%- body %>
  </main>
  <% if (typeof hideNavFooter === 'undefined' || !hideNavFooter) { %>
    <footer>
      <!-- Seu rodapé aqui, se existir -->
    </footer>
  <% } %>
</body>
</html>